.navbar{
    .nav-item:hover{
        background-color: #B02939;
    }
}
.back-sombre {
    filter: brightness(30%);
}
.centrer-titre{
    top: 50%;
    left:50% ;
    transform: translate(-50%,-50%);
    font-size: 50px;
    h4{
        font-size:50px;
    }
}
@include media-breakpoint-down(lg) { 
    .centrer-titre{
        font-size: 1px;
        h4{
            font-size:15px;
        }
        a{
            font-size:15px;
        }
        button{
            font-size:15px;
        }

    }
}

