.navbar{
    .nav-item:hover{
        background-color: #B02939;
    }
}
.titre-site{
    font-family: 'titrepolice';
}
.texte-site{
    font-family:'textepolice';
}
.back-sombre {
    filter: brightness(30%);
}